main{
    section{
        .indexH1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 28px;
            color: black;
            text-align: center;
        }
        .indexH3 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            color: black;
            text-align: center;

        }
    }
}