@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600;700&display=swap');

/*font-family: 'Mukta', sans-serif; */

* {
    margin: 0.80;
    padding: 0.50;
    box-sizing: border-box;
    font-family: "Mukta";
}

body{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    font-size: 28px;
}

.imagenLogo{
   text-align: center;
}

h1 {
    background-color: rgb(122, 122, 118);
    text-align: center;
    font-size: 80px;
    border: 2px solid #ffffff;
    border-radius: 8px;
 }   

h2 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
    border: 2px solid gainsboro;
}

section {
    background-color: rgb(9, 27, 87);
    text-align: justify;
    font-size: 25px;
    border-color: rgb(150, 104, 104);
}

.tituloInicio{
    background-color: rgb(172, 165, 165);
    text-align: center;
    font-size: 29px;
    font-style: italic;
    
}

#subtituloInicio {
    color: rgb(92, 98, 194);
    text-align: center;
    font-style: oblique;
    font-size: 33px;
    background-color: rgb(2, 66, 66);
}

footer {
    background-color: rgb(126, 125, 125);
}

.barraPrincipal{
    display: flex;
    list-style: disc;
    font-size: 25px;
    border-style: groove;
    border-color: black;
}

.navegadorItem{
    display: inline;
    flex-shrink: 1;
    gap: 1rem;
    justify-content: space-evenly;
}

.navegadorItem:hover{
    background-color: rgb(255, 255, 255);
}

.barraPrincipal{
    background-color: rgb(102, 101, 101);
    height: 75px;
}

.testimonial-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    border-color: black;
    border-style: outset;
    background-color: dimgrey;
}

.Somos-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    border-style: double;
}
